<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron bg-primary">
        <h1 class="display-4 text-center text-light">Employees</h1>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-info text-light">
          <h3>Left Bar</h3>
        </div>
        <div class="card-body">
          <ul class="menu" *ngIf="router.url === '/admin/employees'">
            <li><button class="left-menu btn btn-outline-info" (click)="empListComp.getEmployees()">All
                Employees</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="empListComp.getEmployees('manager')">All
                Managers</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="empListComp.getEmployees('worker')">All
                Workers</button></li>
          </ul>
          <button class="left-menu btn btn-outline-success mt-3"
            (click)="router.navigate(['/admin/employees/employee-add']);">Add New Employee</button>
          <button *ngIf="(router.url === '/admin/employees/employee-add' || editEmp())"
            class="left-menu btn btn-danger mt-3" (click)="router.navigate(['/admin/employees']);">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <app-employee-list *ngIf="router.url === '/admin/employees'"></app-employee-list>
      <app-employee-add *ngIf="(router.url === '/admin/employees/employee-add') || editEmp()"></app-employee-add>
    </div>
  </div>
</div>