<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron bg-primary">
        <h1 class="display-4 text-center text-light">Bookings</h1>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-info text-light">
          <h3>Left Bar</h3>
        </div>
        <div class="card-body">
          <ul class="menu">
            <li><button class="left-menu btn btn-outline-info" (click)="getBookings()">All
                Bookings</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="getBookings('Pending')">All Pending
                Bookings</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="getBookings('Confirmed')">All Confirmed
                Bookings</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="getBookings('Delivered')">All Delivered
                Bookings</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-header bg-info text-light">
          <h2>booking List</h2>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Product</th>
              <th>Price</th>
              <th>Customer Name</th>
              <th>Total Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let booking of bookings">
              <td>{{ booking.id }}</td>
              <td>{{ booking.product_name }}</td>
              <td>{{ booking.product_price }}</td>
              <td>{{ booking.customer_name }}</td>
              <td>{{ booking.total_price }}</td>
              <td>{{ booking.booking_status }}</td>
              <td>
                <button class="btn btn-outline-success" *ngIf="booking.booking_status==='Pending'"
                  (click)="changeBookingStatus(booking.id, 'Confirmed')">Confirm</button>
                <button class="btn btn-outline-success" *ngIf="booking.booking_status==='Confirmed'"
                  (click)="changeBookingStatus(booking.id, 'Delivered')">Deliver</button>
                <button class="btn btn-outline-danger" (click)="deleteBooking(booking.id)"
                  *ngIf="booking.booking_status!='Delivered'">Delete</button>

              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>