<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron bg-primary">
        <h1 class="display-4 text-center text-light">Products</h1>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header bg-info text-light">
          <h3>Left Bar</h3>
        </div>
        <div class="card-body">
          <ul class="menu" *ngIf="router.url === '/admin/products'">
            <li><button class="left-menu btn btn-outline-info" (click)="prodListComp.getProducts()">All
                Products</button>
            </li>
            <li><button class="left-menu btn btn-outline-info" (click)="prodListComp.getProducts('honey_item')">All
                Honey Items</button></li>
            <li><button class="left-menu btn btn-outline-info" (click)="prodListComp.getProducts('firm_item')">All Firm
                Items</button></li>
          </ul>
          <button class="left-menu btn btn-outline-success mt-3"
            (click)="router.navigate(['/admin/products/product-add']);">Add New Product</button>
          <button *ngIf="(router.url === '/admin/products/product-add' || editProd())"
            class="left-menu btn btn-danger mt-3" (click)="router.navigate(['/admin/products']);">Cancel</button>
        </div>
      </div>
    </div>
    <div class="col-9">
      <app-product-list *ngIf="router.url === '/admin/products'"></app-product-list>
      <app-product-add *ngIf="(router.url === '/admin/products/product-add') || editProd()"></app-product-add>
    </div>
  </div>
</div>