<div class="card">
  <div class="card-header bg-info text-light">
    <h2>Employee List</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.employee_type }}</td>
        <td>
          <button *ngIf="employee.employee_type != 'admin'" class="btn btn-outline-warning" [routerLink]="['employee-edit', employee.id]">Edit</button>
          <button *ngIf="employee.employee_type != 'admin'" class="btn btn-outline-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>