<h1>Users List</h1>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
  </tr>
</table>
<h1>User Entry</h1>
<form #u="ngForm">
  <input type="text" name="name" placeholder="Enter Name" [(ngModel)]="selectedUser.name"><br>
  <input type="text" name="email" placeholder="Enter Email" [(ngModel)]="selectedUser.email"><br>
  <input type="password" name="password" placeholder="Enter Password" [(ngModel)]="selectedUser.password"><br>
  <input type="button" value="Create New User" (click)="createUser(u)"><br>
</form>
