<!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark bg-fixed text-light" style="background-image: url(assets/img/2440x1578.png);">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 offset-lg-2">
                  <h1>Contact Us</h1>
                  <ul class="breadcrumb">
                      <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                      <li class="active">Contact</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumb -->

  <!-- Start Contact 
  ============================================= -->
  <div class="contact-area default-padding">
      
      <div class="container-full">
          <div class="contact-items">
              <div class="row align-center">
                  <div class="col-lg-3 contact-info">
                      <ul>
                           <li>
                              <h4>Our Location</h4>
                              <span>Kamalpur,<br> Alamdanga, Chuadanga,<br> Alamdanga-7210</span>
                          </li>
                          <li>
                              <h4>Phone</h4>
                              <span>+880-01737-036324</span>
                          </li>
                          <li>
                              <h4>Email</h4>
                              <span>info@goldenbeefirm.com<br>admin@goldenbeefirm.com</span>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-5">
                      <div class="form-content">
                          <h2>Leave a message</h2>
                          <form action="assets/mail/contact.php" method="POST" class="contact-form">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                          <span class="alert-error"></span>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                          <span class="alert-error"></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <div class="form-group">
                                          <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                          <span class="alert-error"></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <div class="form-group comments">
                                          <textarea class="form-control" id="comments" name="comments" placeholder="Please describe what you need."></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <button type="submit" name="submit" id="submit">
                                          Send Now
                                      </button>
                                  </div>
                              </div>
                              <!-- Alert Message -->
                              <div class="col-md-12 alert-notification">
                                  <div id="message" class="alert-msg"></div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24565.18132160307!2d88.92773138989415!3d23.760362594448118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc487956ae37ae6ee!2zMjPCsDQ2JzA2LjciTiA4OMKwNTUnNTAuNiJF!5e0!3m2!1sen!2sbd!4v1668881929453!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
  <!-- End Contact Area -->