<!-- Preloader Start -->
<!-- <div class="se-pre-con"></div> -->
<!-- Preloader Ends -->

<!-- Start Header Top 
============================================= -->
<div class="top-bar-area bg-dark inc-shape text-light inc-pad">
  <div class="container">
    <div class="row align-center">
      <div class="col-lg-9">
        <div class="flex-item left">
          <p>That's right, we only sell 100% authentic</p>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i> Bagerhat, Khulna</li>
            <li><i class="fas fa-envelope-open"></i> Info@gmail.com</li>
            <!-- <li><i class="fas fa-phone"></i> +880-1737-036324</li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-3 text-right">
        <div class="social">
          <ul>
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Top -->
