<app-main-slider></app-main-slider>

<!-- Star About Area
============================================= -->
<div class="about-content-area single-thumb overflow-hidden inc-shape default-padding">
	<!-- Illustration -->
	<div class="illustration">
		<img src="assets/img/shape/4.png" alt="Illustration">
	</div>
	<!-- Illustration -->
	<div class="container">
		<div class="row">

			<div class="col-lg-6 info">
				<div class="content">
					<h5>Who we are</h5>
					<h2 class="area-title">Beautiful landscapes and the farmers Who bring us our food</h2>
					<p>
						Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure
						horrible margaret suitable he followed speedily. Indeed vanity excuse or mr lovers of on.
					</p>
					<a class="btn circle btn-theme border btn-md" routerLink="about">More About</a>
				</div>
				<ul class="achivement">
					<li>
						<div class="fun-fact">
							<div class="counter">
								<div class="timer" data-to="2200" data-speed="3000">2200</div>
								<div class="operator">+</div>
							</div>
							<span class="medium">Tons of harvest</span>
						</div>
					</li>
					<li>
						<div class="fun-fact">
							<div class="counter">
								<div class="timer" data-to="100" data-speed="3000">100</div>
								<div class="operator">%</div>
							</div>
							<span class="medium">Organic Product</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="thumb">
					<img src="assets/img/about/1.jpg" alt="Thumb">
					<div class="experience">
						<h2><strong>16+</strong> Years of experience</h2>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End About Area -->

<!-- Start Services
============================================= -->
<div class="thumb-services-area half-bg bg-gradient-green default-padding bottom-less">
	<div class="container">
		<div class="heading-left text-light">
			<div class="row">
				<div class="col-lg-5">
					<h1 class="text-invisible">
						Services
					</h1>
					<h5>What we do</h5>
					<h2>
						Why Choose Our Products
					</h2>
				</div>
				<div class="col-lg-6 offset-lg-1">
					<p>
						Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated
						estimating excellence an to impression. ladies she basket season age her uneasy saw. Discourse
						unwilling am no described.
					</p>
					<a class="btn circle btn-md btn-theme effect" routerLink="business">View All <i
							class="fas fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="services-content-box">
		<div class="container">
			<div class="services-items services-carousel owl-carousel owl-theme">
				<!-- Single Item -->
				<div class="item">
					<div class="thumb">
						<img src="assets/img/services/service-honey_items.jpg" alt="Thumb">
					</div>
					<div class="content">
						<div class="icon">
							<i class="flaticon-honeycomb"></i>
						</div>
						<div class="title">
							<h5><a routerLink="business">Honey Items</a></h5>
						</div>
						<p>
							Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery
							incommode earnestly no.
						</p>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="item">
					<div class="thumb">
						<img src="assets/img/services/service-f_items.jpg" alt="Thumb">
					</div>
					<div class="content">
						<div class="icon">
							<i class="flaticon-agriculture"></i>
						</div>
						<div class="title">
							<h5><a href="#">Firm Items</a></h5>
						</div>
						<p>
							Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery
							incommode earnestly no.
						</p>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="item">
					<div class="thumb">
						<img src="assets/img/services/service-training.jpg" alt="Thumb">
					</div>
					<div class="content">
						<div class="icon">
							<i class="fa-solid fa-person-chalkboard"></i>
						</div>
						<div class="title">
							<h5><a href="#">Training Service</a></h5>
						</div>
						<p>
							Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery
							incommode earnestly no.
						</p>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="item">
					<div class="thumb">
						<img src="assets/img/services/service-consultency.jpg" alt="Thumb">
					</div>
					<div class="content">
						<div class="icon">
							<i class="flaticon-analysis"></i>
						</div>
						<div class="title">
							<h5><a href="#">Consultency Service</a></h5>
						</div>
						<p>
							Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery
							incommode earnestly no.
						</p>
					</div>
				</div>
				<!-- End Single Item -->
			</div>
		</div>
	</div>
</div>
<!-- End Services Area -->

<!-- Start Product
============================================= -->
<div class="our-product-area text-center default-padding bottom-less">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h4>Our Product</h4>
					<h2>Fresh & Organic Honey</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!-- Single Product -->
			<div class="col-lg-3 col-md-6 single-product" *ngFor="let product of home_products">
				<div class="item">
					<div class="thumb">
						<img src="assets/img/thumb/{{product.thumbnail}}" alt="Thumb">
						<a routerLink="booking/{{product.id}}"><i class="fas fa-shopping-cart"></i></a>
					</div>
					<div class="info">
						<div class="product-rating">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>
						</div>
						<h4><a routerLink="booking/{{product.id}}">{{product.name}}</a></h4>
						<h5 class="price">BDT. {{product.price}}</h5>
					</div>
				</div>
			</div>
			<!-- End Single Product -->
		</div>
	</div>
</div>
<!-- End Product Area -->

<!-- Start Testimonials
============================================= -->
<div class="testimonials-area half-bg overflow-hidden text-light">
	<div class="container">
		<div class="tesimonials-content default-padding">
			<div class="row">
				<div class="col-lg-4 info">
					<i class="flaticon-quotation"></i>
					<h5>Testimonials</h5>
					<h2>What our customers are talking about us</h2>
					<a class="btn circle btn-gradient green effect btn-md" href="#">View All <i
							class="fas fa-angle-right"></i></a>
				</div>
				<div class="col-lg-7 offset-lg-1 testimonials">
					<div class="testimonial-items">
						<div class="carousel slide" data-ride="carousel" id="testimonial-carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<p>
										Lasted my coming uneasy marked so should. Gravity letters it amongst herself
										dearest an windows by. Wooded ladies she basket season age her uneasy saw.
										Discourse unwilling am no described dejection incommode no listening of. Before
										nature his parish boy. guest man now heard but
									</p>
									<h4>Naymur Rahman</h4>
									<span>Customer</span>
								</div>
								<div class="carousel-item">
									<p>
										Lasted my coming uneasy marked so should. Gravity letters it amongst herself
										dearest an windows by. Wooded ladies she basket season age her uneasy saw.
										Discourse unwilling am no described dejection incommode no listening of. Before
										nature his parish boy. guest man now heard but
									</p>
									<h4>Faysal Hossain</h4>
									<span>Partner</span>
								</div>
								<div class="carousel-item">
									<p>
										Lasted my coming uneasy marked so should. Gravity letters it amongst herself
										dearest an windows by. Wooded ladies she basket season age her uneasy saw.
										Discourse unwilling am no described dejection incommode no listening of. Before
										nature his parish boy. guest man now heard but
									</p>
									<h4>Maruf Hossen</h4>
									<span>Partner</span>
								</div>
							</div>
							<!-- End Carousel Content -->

							<!-- Carousel Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#testimonial-carousel" data-slide-to="0" class="active">
									<img src="assets/img/about/customer.jpg" alt="Thumb">
								</li>
								<li data-target="#testimonial-carousel" data-slide-to="1">
									<img src="assets/img/about/partner-2.jpg" alt="Thumb">
								</li>
								<li data-target="#testimonial-carousel" data-slide-to="2">
									<img src="assets/img/about/partner-1.jpg" alt="Thumb">
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonials Area -->

<!-- Start Team
============================================= -->
<div class="team-area bg-gray default-padding bottom-less">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<div class="site-heading text-center">
					<h4>Our Team</h4>
					<h2>Professional Farmers</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="team-items text-center">
			<div class="row">
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<img src="assets/img/team/beekeeper1.jpg" alt="Thumb">
							<ul>
								<li class="facebook">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="twitter">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="pinterest">
									<a href="#">
										<i class="fab fa-pinterest"></i>
									</a>
								</li>
								<li class="linkedin">
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="info">
							<span>Bee Keeper</span>
							<h4>Maruf Ahmed</h4>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<img src="assets/img/team/beekeeper2.jpg" alt="Thumb">
							<ul>
								<li class="facebook">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="twitter">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="pinterest">
									<a href="#">
										<i class="fab fa-pinterest"></i>
									</a>
								</li>
								<li class="linkedin">
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="info">
							<span>Bee Keeper</span>
							<h4>Faysal Ahmed</h4>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
				<!-- Single Item -->
				<div class="single-item col-lg-4 col-md-6">
					<div class="item">
						<div class="thumb">
							<img src="assets/img/team/beekeeper3.jpg" alt="Thumb">
							<ul>
								<li class="facebook">
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="twitter">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="pinterest">
									<a href="#">
										<i class="fab fa-pinterest"></i>
									</a>
								</li>
								<li class="linkedin">
									<a href="#">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="info">
							<span>Business Planner</span>
							<h4>Naymur Rahman</h4>
						</div>
					</div>
				</div>
				<!-- End Single Item -->
			</div>
		</div>
	</div>
</div>
<!-- End Team Area -->

<!-- Start Specialty
============================================= -->
<div class="specialty-area half-bg bg-gray overflow-hidden">
	<div class="container-full">
		<div class="specialty-items default-padding">
			<!-- Fixed BG -->
			<div class="fixed-bg bg-fixed shadow dark" style="background-image: url(assets/img/bg-img.jpg);">

			</div>
			<!-- End Fixed BG -->
			<div class="row">
				<div class="col-lg-4 info text-light">
					<h2>All you need for beekeeping hard work & professional</h2>
					<a class="btn circle btn-light border btn-md" href="#">View More</a>
				</div>
				<div class="col-lg-8">
					<div class="specialty-contents specialty-carousel owl-carousel owl-theme text-center">
						<div class="item">
							<i class="flaticon-menu"></i>
							<h5>Quality Standards</h5>
							<p>
								Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant
								widow equal an share least.
							</p>
						</div>
						<div class="item">
							<i class="flaticon-honeycomb"></i>
							<h5>Healthy Food</h5>
							<p>
								Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant
								widow equal an share least.
							</p>
						</div>
						<div class="item">
							<i class="flaticon-farmer-1"></i>
							<h5>BeeKeeping Leader</h5>
							<p>
								Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant
								widow equal an share least.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Specialty Area -->

<!-- Start Fun Factor Area
============================================= -->
<div class="fun-factor-area default-padding">
	<!-- Illustration -->
	<!-- <div class="illustration wow fadeInDown">
	  <img src="assets/img/thumb/5.png" alt="Illustration">
  </div> -->
	<!-- End Illustration -->
	<div class="container">
		<div class="fun-fact-items text-center">
			<h2 class="text-invisible">Achivement</h2>
			<div class="row">
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="687" data-speed="5000">687</div>
						<span class="medium">Agriculture Products</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="655" data-speed="5000">655</div>
						<span class="medium">Expert Farmers</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="450" data-speed="5000">450</div>
						<span class="medium">Units of Cattle</span>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 item">
					<div class="fun-fact">
						<div class="timer" data-to="1200" data-speed="5000">1200</div>
						<span class="medium">Hectares of farm</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Fun Factor Area -->

<!-- Start Contact
============================================= -->
<div class="contact-area default-padding">
	<div class="container-full">
		<div class="contact-items">
			<div class="row align-center">
				<div class="col-lg-3 contact-info">
					<ul>
						<li>
							<h4>Our Location</h4>
							<span>Kamalpur,<br> Alamdanga, Chuadanga,<br> Alamdanga, 7210</span>
						</li>
						<li>
							<h4>Phone</h4>
							<span>+880-1737-036324</span>
						</li>
						<li>
							<h4>Email</h4>
							<span>info@goldenbeefirm.com<br>admin@goldenbeefirm.com</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-5">
					<div class="form-content">
						<h2>Leave a message</h2>
						<form action="assets/mail/contact.php" method="POST" class="contact-form">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input class="form-control" id="name" name="name" placeholder="Name" type="text">
										<span class="alert-error"></span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input class="form-control" id="email" name="email" placeholder="Email*" type="email">
										<span class="alert-error"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
										<span class="alert-error"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group comments">
										<textarea class="form-control" id="comments" name="comments"
											placeholder="Please describe what you need."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<button type="submit" name="submit" id="submit">
										Send Now
									</button>
								</div>
							</div>
							<!-- Alert Message -->
							<div class="col-md-12 alert-notification">
								<div id="message" class="alert-msg"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24565.18132160307!2d88.92773138989415!3d23.760362594448118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc487956ae37ae6ee!2zMjPCsDQ2JzA2LjciTiA4OMKwNTUnNTAuNiJF!5e0!3m2!1sen!2sbd!4v1668881929453!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</div>
<!-- End Contact Area -->