<div class="card">
  <div class="card-header bg-info text-light">
    <h2>Product List</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button class="btn btn-outline-warning" [routerLink]="['product-edit', product.id]">Edit</button>
          <button class="btn btn-outline-danger" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>